@font-face{
    font-family: "Mi fuente Personalizada";
    src: url("avenir-next-similar/karu-font-family/Karu Font Family/karu-font-family");
    font-weight: normal;
    font-style: normal;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    overflow-x: hidden;
    margin-top: 5rem;
}

header {
    background-color: #004d99;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    box-sizing: border-box;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.382);
}

p{
    font-family: 'Mi fuente Personalizada';
    font-size: 19px;
    justify-content: center;
    text-align: justify;
}

h2{
    text-transform: uppercase;
    color: #004d99;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 5rem;
}

h3{
    text-align: left;
    margin-top: 5rem;
}

blockquote {
    border-left: 4px solid #ff6b35; 
    padding-left: 15px;
    margin-left: 0;
    color: #555;
    font-style: italic;
}

nav ul li a {
font-family: 'Arial', sans-serif;
color: black;
text-decoration: none;
transition: font-family 0.3s ease;
}

/* Estilo al pasar el cursor */
nav ul li a:hover {
font-family: 'Courier New', monospace;
}

.main-logo{
    box-shadow: none;
}

.logo-container {
    position: absolute;
    right: 15px;
    top: 10px;
    width: 50px;
    height: 50px;
    margin-bottom: 0;
    margin-top: 0;
}

.logo-container img{
    box-shadow: none;
    margin-top: 0;
    margin-bottom: 0;
}

.header-content {
    width: 100%;
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content h1 {
    margin: 0 10px;
    flex-grow: 1;
    text-align: center;
    flex-shrink: 0;
    font-size: 1.3em;
    line-height: 2.5;
}

/* Boton del menu */
#menu-toggle {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 2em;
    cursor: pointer;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1001;
    flex-shrink: 0;
}

/* menu lateral */
#sidebar-nav {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #003366;
    padding-top: 60px;
    transition: left 0.3s ease;
    z-index: 999;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
}

#sidebar-nav.open {
    left: 0;
}

#sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar-nav ul li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #002244;
}

#sidebar-nav ul li a:hover {
    background-color: #004488;
}

/* Contenido principal */

section {
    padding: 20px;
    margin: 20px auto;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.549);
    border-radius: 8px;
    max-width: 1000px;
    width: 90%;
    box-sizing: border-box;
    display: block;
    font-family: 'Mi fuente Personalizada';
    font-size: 19px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 5rem;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}

.formulario label {
    font-weight: bold;
}

.formulario input, .formulario textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}

.formulario button {
    padding: 10px;
    background-color: #004d99;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 15px;
    width: 100px;
    align-self: center;
}

.formulario button:hover {
    color: white;
    transform: scale(1.3) translateY(-5px);
    background-color: #004d99;
    box-shadow: 0  0 25px #004d99;
}

.header-title h1 {
    color: #ffffff;
    text-align: center;  
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    width: 500px;
    margin-bottom: 5rem;
    margin-top: 5rem;
    box-shadow: 0 4px 8px   rgba(219, 120, 32, 0.779);
}

img:hover {
    transform: scale3d(1.03, 1.03, 1);
}

.imagenes-galeria img{
    display: inline-block;
    margin: 0 10px;
    width: 30%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.image-container {
    text-align: center;
    margin-top: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    
}

.map-container {
    text-align: center;
    margin-top: 20px;
}

.map-container iframe {
    width: 100%;
    max-width: 500px;
    height: 400px;
    border-radius: 8px;
}

.mapa-google {
    width: 100%;
    height: 450px;
    border: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.nuestrasinstalaciones h3{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.social-media {
    text-align: center;
    margin-top: 2rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    font-size: 1.5rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #004d99;
    text-decoration: none;
}

.social-media a:hover {
    color: white;
    transform: scale(1.3) translateY(-5px);
    background-color: #004d99;
    box-shadow: 0  0 25px #004d99;
}

.social-media i {
    vertical-align: middle;
    line-height: 1;
    border: none;
}

.social-media a.ig:hover {
    background: #8A2387;
    background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);
    background: linear-gradient(to right, #F27121, #E94057, #8A2387);
    box-shadow: 0  0 25px #8A2387;
}

.social-media a.fb:hover {
    background: #4267B2;
    box-shadow: 0  0 25px #4267B2;
}

.social-media a.wa:hover {
    background: #25D366;
    box-shadow: 0  0 25px #25D366;
}

.social-media a.gm:hover {
    box-shadow: 0 0 25px #EA4335; 
    background: linear-gradient(
        to right,
        #EA4335 0%, #EA4335 25%, 
        #4285F4 25%, #4285F4 50%, 
        #FBBC04 50%, #FBBC04 75%, 
        #34A853 75%, #34A853 100%
    );  
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background: #000000;
}

::-webkit-scrollbar-thumb{
    background: #004d99;
    border-radius: 12px;
    border: 3px solid #121212;  
}

footer {
    text-align: center !important;
    padding: 20px;
    background: #004d99;
    color: #fff;
    box-shadow: 0 0 25px #00000091;
}

.pie_de_pagina p{
    text-align: center;
}

@media (max-width: 768px) {
    .header-content h1 {
        font-size: 1.1em;
        line-height: 2;
    }

    p {
        font-size: 17px;
    }

    section {
        padding: 15px;
        margin: 15px auto;
    }

    img {
        width: 100%;
    }

    .social-media a {
        margin: 1.5rem 1rem;
    }
}

@media (max-width: 600px) {
    header {
        padding: 15px 15px;
    }

    .header-content h1 {
        font-size: 1em;
        margin: 0 5px;
    }

    section {
        margin: 10px;
        padding: 10px;
    }

    p {
        font-size: 16px;
    }
    
    h2 {
        font-size: 1.5em; 
    }

    .formulario {
        max-width: 100%;
    }
    
    .map-container iframe {
        height: 300px;
    }

    .social-media a {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.2rem;
        margin: 1rem 0.5rem;
    }
}